@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
input{
	border-style:none;
}
input:focus{
	outline:none;
}
html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color : black;
}

a:hover {
	font-weight : bold;
}

a:hover {
	font-weight: bold;
	cursor : pointer;
}

/*전체*/
.page-wrapper {
	display: flex;
	justify-content: center;
	margin-right : 150px;
	margin-left : 150px;
	
}

/*사이드 메뉴*/

/*본문*/
.content-wrapper {
	max-width: 1040px;
	margin: 50px;
	width: 100%;
}

/*제목*/
.content-title {
	line-height: 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid;
	line-height: 70px;
}

/*내용*/
.detail-wrapper {
	width : 100%;
	margin-top : 50px;
	
}

/*상태바*/
.status ul{
	display: flex;
	justify-content: center;
}

.status ul li {
	width : 136px;
	text-align : center;
}


/*주문상세*/

.order-item-wrapper {
	width : 100%;
}

.order-item-title, .order-customer-title {
	margin-top : 50px;
	line-height : 70px;
}

.order-item-title h3, .order-customer-title h3{
	border-bottom : 2px solid #cdcdcd;
}

.order-item-list {
	width : 80%;
	margin : 50px;

}

.order-item-list div{
	line-height: 70px;
}

.order-customer-detail{
	margin : 50px;
	width : 80%
}

.order-customer-detail {
	line-height : 50px;
}

.order-customer-detail .customer-title {
	width : 100px;
}

.imgcon img{
	width : 250px;
}

#im{
	display: flex;
}

.btn {
	display: flex;
	justify-content: center;
}

#btn{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}

#btn_c{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}
#btn:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
#btn_c:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}