@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color : black;
}


/*전체*/
.page-wrapper {
	display : flex;
	justify-content : center;
}

/*사이드메뉴*/

/*본문*/
.content-wrapper {
	max-width : 1240px;
	margin : 50px;
	width : 100%;
}

/*제목*/
.content-title {
	line-height : 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display : flex;
	justify-content : space-between;
	border-bottom : 2px solid; 	
	line-height : 70px;
}

.article-wrapper {
	padding : 50px;
}

.sort-wrapper{
	display : flex;	
	height : 70px; 
	margin-top : 50px;
}

.sort-wrapper .sort-title{
	width : 100px;
}


.article-title-wrapper{
	display : flex;	
	height : 70px; 
	margin-top : 50px;
}

.article-title-wrapper .article-title-title{
	width : 100px;
}

.article-title-wrapper input{
	height : 35px;
	width : 100%;
	padding : 5px;
}

.article-content-wrapper{
	display : flex;
}

.article-content-wrapper .article-content-title{
	width : 100px;
}

.article-content-wrapper textarea{
	height : 200px;
	width : 100%;
	padding : 5px;
	resize : none;
}

.button-wrapper {
	width : 100%;
	display : flex;
	justify-content : center;
	height : 70px;
}

.button-wrapper {
	margin-top : 40px;
}

.main_text3 {
	display: flex;
	height: 80px;
	align-items: center;
}

.type_title1 {
	width: 150px;	
	text-align: left;
}


#textbar1 {
	width: 610px;
	height: 50px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	padding-left : 10px;
}

#textbar2 {
	width: 600px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	height: 25px;
	display: flex;
	align-items: center;
}
.main_text3 mg{
	height: 200px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
}

.main_text4 {
	height: 200px;
	display: flex;
	align-items: center;
}

#write_area {
	width: 600px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	resize: none;
	height: 150px;
}

/* 파일업로드 */
.file_wrap input[type="file"] {
	display: none;
}

.file_wrap {
	display: flex;
	align-items: center;
	height: 80px;
}


.fileBtn {
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height: 50px;
	color: #333;
	font-size: 15px;
	border-radius: 5px;
    width: 100px;
    text-align: center;
    align-items: center;
    display: flex;
}