@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color : black;
}



/*전체*/
.page-wrapper {
	display: flex;
	justify-content: center;
	margin-right : 150px;
	margin-left : 150px;
	
}

/*사이드 메뉴*/

/*본문*/
.content-wrapper {
	max-width: 1040px;
	margin: 50px;
	width: 100%;
}

/*제목*/
.content-title {
	line-height: 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display : flex;
	justify-content : space-between;
	border-bottom : 2px solid; 	
	line-height : 70px;
}

.article-wrapper {
	width : 100%;
	margin-top : 50px;
}

.main_text2{
	display : flex;
	width : 100%;
}

.main_text3{
	display : flex;
	width : 100%;

}

.main_text4{
	display : flex;
	width : 100%;

}

.main_text5{
	display : flex;
	width : 100%;

}


.main_text2 .name .sort{
	height : 35px;
	background-color: white;
	border : 2px solid #cdcdcd;
	border-radius: 5px;
	width : 100%;
}

.main_text2 .type_title1, .main_text3 .type_title1, .main_text4 .type_title1, .main_text5 .type_title1{
	height : 60px;
	width : 150px;
}

.main_text2 .name, .main_text3 .name, .main_text4 .name {
	width : 100%;
}

.main_text5 .file-name {
	display : flex;
	width : 100%;
}

#textbar1 {
	height : 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	width : 100%;
}

textarea {
	height : 200px;
	background-color: white;
	border : 2px solid #cdcdcd;
	border-radius: 5px;
	resize : none;
	width : 100%;
}

/* 파일업로드 */
.file_wrap input[type="file"] {
	display: none;
}

.file_wrap {
	display: flex;
	align-items: center;
	height: 80px;
}


.fileBtn {
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height: 50px;
	color: #333;
	font-size: 15px;
	border-radius: 5px;
    width: 100px;
    text-align: center;
    align-items: center;
    display: flex;
}

#textbar2{
	height : 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
}

.btn {
	width : 150px;
	text-align:center;
}

.button-wrapper {
	display : flex;
	justify-content : center;
	margin-top : 30px;
}

.button-wrapper input {
	height : 50px;
	border-top : none;
	border-left : none;
	border-right : none;
}
