@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color : black;
}

a:hover {
	font-weight: bold;
	cursor : pointer;
}

/*전체*/
.page-wrapper {
	display: flex;
	justify-content: center;
	margin-right : 150px;
	margin-left : 150px;
	
}

/*사이드 메뉴*/

/*본문*/
.content-wrapper {
	max-width: 1040px;
	margin: 50px;
	width: 100%;
}

/*제목*/z
.content-title {
	line-height : 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	justify-content : space-between;
	border-bottom : 2px solid; 	
	line-height : 70px;
}

/*검색창*/
.searchbar-wrapper {
	display : flex;
}

.searchbar-wrapper div {
	margin-right : 4px;
}

/*주문 상세 내용*/

.order-wrapper {
	width : 100%;
}

.order-body-title {
	display : flex;
	line-height : 80px;
	border-bottom : 2px solid;
}


.order-body-content {
	line-height : 100px;
	border-bottom : 1px solid #cdcdcd;
}

table {
	width : 100%;
}

table thead tr {
	display : flex;
	width : 100%;
}

table tbody tr {
	display : flex;
	width : 100%;
}

.b_button{
	display: flex;
	justify-content: space-between;
}

.pagecount>select{
	height: 30px;
}

.icon_flex>input{
	margin: auto;
	height: 26px;
}

.icon_flex>select{
	margin: auto;
	height: 30px;
}