@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color : black;
}

a:hover {
	
	
}

/*전체*/
.page-wrapper {
	display : flex;
	justify-content : center;
}

/*사이드 메뉴*/

/*본문*/
.content-wrapper {
	max-width : 1240px;
	margin : 50px;
	width : 100%;
}

/*제목*/
.content-title {
	line-height : 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display : flex;
	justify-content : space-between;
	border-bottom : 3px solid black;	
	height : 70px;
}

.content-subtitle-wrapper p {
	margin-top :auto;
	margin-bottom :auto;
}

/*내용*/
.detail-wrapper {
	width : 100%;
	margin-top : 50px;
	
}

/*상태바*/
.status ul{
	display: flex;
	justify-content: center;
}

.status ul li {
	width : 136px;
	text-align : center;
}

/*지도*/

.map-wrapper {
	display : flex;
	justify-content : center;
	margin-top : 50px;
	width : 100%;
}

.detail-wrapper .detail {
	width : 500px;
	margin-left : 50px;
}

.detail h3 {
	line-height : 70px;
	border-bottom : 2px solid #cdcdcd;
}

.detail .order-title, .detail .laundry-title{
	line-height : 50px;
	font-weight : bold;
	width : 100px;
}

.detail .order-content, .detail .laundry-content{
	line-height : 50px;
}

/*주문상세*/

.order-item-wrapper {
	width : 100%;
}

.order-item-title, .order-customer-title {
	margin-top : 50px;
	line-height : 70px;
}

.order-item-title h3, .order-customer-title h3{
	border-bottom : 3px solid black;
}

.order-item-list {
	width : 80%;
	margin : 50px;
	display : flex;
	justify-content : center;
}

.order-customer-detail{
	margin : 50px;
	width : 80%
}

table {
	width : 100%;
}

.order-item-list tr {
	width : 100%;
	display : flex;
	justify-content : space-between;
}

.order-customer-detail {
	line-height : 50px;
}

.order-customer-detail .customer-title {
	width : 150px;
	font-weight : bold;
}

/*요청메세지*/
.request-wrapper {
	width : 100%;
}

.request-title {
	margin-top : 50px;
	line-height : 70px;
}

.request-title h3 {
	border-bottom : 3px solid black;
}

.request-content{
	width : 80%;
	margin : 50px;
	line-height : 50px;
} 

.request-content-title {
	width : 150px;
	font-weight : bold;
}

/*결제정보*/

.pay-wrapper {
	width : 100%;
}

.pay-title {
	margin-top : 50px;
	line-height : 70px;
}

.pay-title h3 {
	border-bottom : 3px solid black;
}

.pay-content{
	width : 80%;
	margin : 50px;
	line-height : 50px;
} 

.pay-content-title {
	width : 150px;
	font-weight : bold;
}

.action-button:hover {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}