@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}

body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
	cursor: pointer;
}

/*전체*/
.page-wrapper {
	display: flex;
	justify-content: center;
	margin-right : 150px;
	margin-left : 150px;
	
}

/*사이드 메뉴*/

/*본문*/
.content-wrapper {
	max-width: 1040px;
	margin: 50px;
	width: 100%;
}

/*제목*/
.content-title {
	line-height: 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid;
	line-height: 70px;
}

.main-wrapper {
	width : 100%;
	margin-top : 50px;
}


.taps {
	width : 100%;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  
  overflow: hidden; }
  .taps [class^="tap"] label,
  .taps [class*=" tap"] label {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .taps [class^="tap"] [type="radio"],
  .taps [class*=" tap"] [type="radio"] {
    /* border-bottom: 1px solid rgba(239, 237, 239, 0.5); */
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    margin-left: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    /* .taps [class^="tap"] [type="radio"]:hover, .taps [class^="tap"] [type="radio"]:focus,
    .taps [class*=" tap"] [type="radio"]:hover,
    .taps [class*=" tap"] [type="radio"]:focus {
      border-top: 1px solid black; } */
    .taps [class^="tap"] [type="radio"]:checked,
    .taps [class*=" tap"] [type="radio"]:checked {
      border-bottom:4px solid #a9d3f0;
      margin-top: -3px; }
    .taps [class^="tap"] [type="radio"]:checked + div,
    .taps [class*=" tap"] [type="radio"]:checked + div {
      opacity: 1; }
    .taps [class^="tap"] [type="radio"] + div,
    .taps [class*=" tap"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .taps .tap-2 {
    width: 400px; }
    .taps .tap-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .taps .tap-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .taps .tap-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .taps .tap-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

/* ----------------------------- */

.que:first-child{
  /* border-top: 1px solid #dddddd; */
}

.que{

position: relative;
padding: 17px 0;
cursor: pointer;
font-size: 14px;
border-bottom: 1px solid #dddddd;


}

.que::before{
display: inline-block;
content: 'Q';
font-size: 14px;
color: #006633;
margin: 0 5px;
}

.que.on>span{
font-weight: bold;
color: #006633;	
}

.anw {

display: none;
  overflow: hidden;
font-size: 14px;
background-color: #f4f4f2;
padding: 27px 0;
}

.anw::before {
display: inline-block;
content: 'A';
font-size: 14px;
font-weight: bold;
color: #666;
margin: 0 5px;
}

.arrow-wrap {
position: absolute;
top:50%; right: 10px;
transform: translate(0, -50%);
}

.que .arrow-top {
display: none;
}
.que .arrow-bottom {
display: block;
}
.que.on .arrow-bottom {
display: none;
}
.que.on .arrow-top {
display: block; 
}
.main_que{
  padding: 0;
}
