<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases> 엘리먼트는 <typeAlias>를 여러 개 가질 수 있으며 <typeAlias>를 이용하여 특정 
		클래스의 별칭(Alias)을 선언할 수 있다. 이 Alias는 SQL 명령어들이 저장되는 SQL Mapper에서 사용할 수 있으며 
		이를 통해 SQL Mapper 파일의 크기를 줄여주고 설정을 간단히 처리할 수 있도록 해 준다. -->
	<typeAliases>
		<typeAlias type="com.semo.web.admin.vo.AdminVO" alias="admin" />

		<typeAlias type="com.semo.web.user.vo.AddressListVO" alias="CM_ADDRESS" />
		<typeAlias type="com.semo.web.user.vo.FaqVO" alias="BOARD_FAQ"/>	
		<typeAlias type="com.semo.web.user.vo.OrderVO" alias="ORDER" />
		<typeAlias type="com.semo.web.user.vo.CustomerVO2" alias="CUSTOMER"/>

		<typeAlias type="com.semo.web.admin.vo.BannerVO" alias="banner" />
		<typeAlias type="com.semo.web.admin.vo.CouponVO" alias="coupon" />
		<typeAlias type="com.semo.web.admin.vo.ProductVO" alias="product" />
		<typeAlias type="com.semo.web.admin.vo.StoreVO" alias="store" />
		<typeAlias type="com.semo.web.admin.vo.TermsVO" alias="terms" />
		
		
	

		<!-- 아래 계속해서 추가 -->
		<typeAlias alias="notice" type="com.semo.web.admin.vo.NoticeVO"/>
	</typeAliases>

	<!-- <mappers> 엘리먼트는 여러 <mapper>를 가질 수 있으며 이 <mapper>를 이용하여 SQL 명령어들이 저장된 
		SQL 파일을 등록할 수 있다. -->
		
	<mappers>
		<mapper resource="mappings/ad_admin-mapping.xml"/>
		<mapper resource="mappings/user_address-mapping.xml"/>
		<mapper resource="mappings/user_faq-mapping.xml"/>
		<!-- 아래 계속해서 추가 -->
		<mapper resource="mappings/ad_site-mapping.xml"/>
		<mapper resource="mappings/ad_store-mapping.xml"/>
		<mapper resource="mappings/ad_product-mapping.xml"/>
		<mapper resource="mappings/board-mapping.xml"/>
	</mappers>
</configuration>
 