@charset "UTF-8";
body { 
  margin : 0px ;
}
a{
  text-decoration : none ;
  color : black ;
}
a:hover{
  text-decoration : underline ;
}
ul,lu {
  list-style-type : none ;
  margin : 0px ;
  padding : 0px ;
}

#wrap {
  width : 860px ;
}
header {
  background: #eeeeee ;
  padding : 20px ;
}
header > img {
/*   float : left ; */
  margin-right : 30px ;
  margin-top : 0px;
  width : 125px ;
  height : 105px ;
}
header > h1 {
  padding : 0px ;
  margin : 0px ;
}
.clear {
  clear : both ;
}
.none {
  display : none ;
}

/*寃뚯떆�뙋*/
/*�쇅怨쎌옟湲�*/
#content_wrap {
	/*   border : 1px solid red ; */
	padding: 30px;
	background: black;
	width: 100%;
	font-size: 15px;
}

#content_wrap ul {
  background : #ffffff ;
  border : 1px solid #dddddd ;
  padding : 10px ;
}
#content_wrap ul li {
	margin-bottom: 7px;
}

/* #content_wrap ul li:nth-child(2){
  margin-bottom : 10px ;
} */

#content_wrap .title {
  font-weight : bold ;
  display : inline-block ;
  width : 60px ;
}

/*�궡遺��옟湲� shift+home+insert */
#content_wrap li:nth-child(1) div{
  display : inline-block ;
}
#content_wrap li:nth-child(1) .radiobox {
  font-size : 15px ;
  margin-left : 50px ;
}
/*�벐湲곗쁺�뿭 */
.writeWrap {
  padding : 0px ;
  padding-bottom: 12px;
  margin : 0px ;
  width: 100%;
}

.writeWrap  .writeArea {
  width : 100% ;
  padding : 5% ;
  font-size : 12px ;
  color : #666666 ;
  
  min-height : 300px ;
}
.configWrap {
  border : none ;
}
.configWrap ul {
  margin : 0px ;
  background : #ffffff ;
  padding : 10px ;
}
.configWrap .tag .InputArea input{
  width: 400px ;
  margin-left: 10px;
}
.end {
	border-top: 1px solid #dddddd;
	background: white;
	width: 100%;
	padding: 10px;
	padding: 10px 10px 10px;
}

.end a {
	font-size: 14px;
	border: 2px solid black;
	background: #ffffff;
	padding: 3px;
	border-radius: 5px;
 	font-weight: bold;
 	letter-spacing: 2px;
}

.end a:hover {
  font-weight : bold ;
  text-decoration : none ;
}
	
.div2 {
	display: flex;
}

.div3{
	padding-left : 30px;
}

.dd{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tag_di{
	display: flex;
}









