@charset "UTF-8";

#layer_reply {
	display: none;
}
.popup_wrapper2 {
	width: 500px;
	height: 750px;
	border-top : 12px solid #eeeeee;
	border-right : 12px solid #eeeeee;
	border-bottom : 12px solid #eeeeee;
	padding: 16px;
}

.estimate_reply {
	display: flex;
	margin-top: 5px;
	align-items: center;
}
.estimate_reply_head {
	padding-bottom: 2px;
	margin-bottom: 12px;
	border-bottom: 1px solid #dddddd;
}
.estimate_reply_title {
	width: 100px;
	margin: 6px 10px 6px 0px;
	font-size: 20px;
}
.estimate_reply_body {
	margin: 6px 0px;
	display: flex;
	align-items: center;
}

.estimate_reply_body > input {
	padding : 0px 0px 0px 4px;
	width: 240px;
	height: 30px;
}
.estimate_reply_body > select {
	width: 240px;
	height: 30px;
}

/* 버튼 */
#layer_reply_btn {
	margin: 0px 12px;
	padding: 10px;
	border-radius: 10px;
	background: #dee2e6;
}
#layer_cancel_btn {
	margin: 0px 12px;
	padding: 10px;
	border-radius: 10px;
	background: #dee2e6;
}

.board_btn input{
	font-size: 16px;
	font-weight: bold;
	border : none;
	background-color: #dee2e6;
}

.board_btn input:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}