@charset "UTF-8";

.whole {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.popup_wrapper {
	width: 550px;
	height: 750px;
	border: 12px solid #eeeeee;
	padding: 16px;
}

.popup_title {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 12px;
}

.estimate_request {
	display: flex;
	margin-top: 5px;
	align-items: center;
}

.estimate_request_title {
	margin: 6px 0px;
	width: 100px;
	font-size: 20px;
}

.estimate_request_value {
	width: 330px;
}

.estimate_request_content {
	width: 330px;
	height: 80px;
	overflow: auto;
	display: flex;
	align-items: center;
}

/* 파일 이미지 */
.estimate_request_file {
	width: 100%;
	height: 190px;
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.estimate_request_file > img {
	height: 90px;
	width: 90px;
}

/* 버튼 */
.end {
	display: flex;
	justify-content: center;
}

.board_btn {
	margin: 0px 12px;
	padding: 9px;
	border-radius: 10px;
	background: #dee2e6;
	width : 60px;
	display: flex;
	justify-content: center;
}

.end a {
	color : #212529;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
}

.end a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}