@charset "UTF-8";

#layer_reply {
	display: none;
}
.popup_wrapper2 {
	width: 480px;
	height: 360px;
	border: 12px solid #eeeeee;
	padding: 16px;
	margin-top: -12px;
}

.estimate_reply_conwrap{
	
}

.estimate_reply {
	display: flex;
}
.estimate_reply_head {
	padding-bottom: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #dddddd;
}
.estimate_reply_title {
	width: 100px;
	margin: 6px 10px 6px 0px;
	font-size: 20px;
}
.estimate_reply_title_body {
	margin: 6px 0px;
}
.estimate_reply_date_body {
	margin: 10px 0px 0px 0px;
}
.estimate_reply_content_body {
	margin: 6px 0px;
}
.estimate_reply_title_body>input {
	padding : 0px 0px 0px 4px;
	width: 240px;
	height: 30px;
}
.estimate_reply_content_body>select {
	width: 240px;
	height: 30px;
}

/* 버튼 */
#layer_reply_btn {
	margin: 0px 12px;
	padding: 10px;
	border-radius: 10px;
	background: #dee2e6;
}
#layer_cancel_btn {
	margin: 0px 12px;
	padding: 10px;
	border-radius: 10px;
	background: #dee2e6;
}