@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.end {
	width: 100%;
	padding: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.end a {
	color: #212529;
	font-size: 16px;
	/* border: 2px solid black; */
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
}

.end a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}

.popup_btn {
	margin: 0px 12px;
	padding: 8px;
	border-radius: 10px;
	background: #dee2e6;
}

.popup_wrapper {
	width: 360px;
	height: 544px;
	/* 	margin-top: 50px; */
	/* 	margin-left: 50px; */
	border: 12px solid #eeeeee;
	/* 	border-top: 1px solid black; */
	/* 	border-right: 3px solid black; */
	/* 	border-bottom: 3px solid black; */
	/* 	border-left: 1px solid black; */
	padding: 16px;
}

.popup_head {
	width: 100%;
	height: 104px;
	border-bottom: 1px solid #dddddd;
}