@charset "UTF-8";

.member_wrapper {
	width: 430px;
	height: 660px;
/* 	margin-top: 50px; */
/* 	margin-left: 50px; */
	border: 12px solid #eeeeee;
/* 	border-top: 1px solid black; */
/* 	border-right: 3px solid black; */
/* 	border-bottom: 3px solid black; */
/* 	border-left: 1px solid black; */
	padding:16px;
}
.popup_head {
	width:100%;
	height:112px;
	border-bottom: 1px solid #dddddd;
}

.member_state {
	padding:20px 0px 8px 0px;
	font-size: 15px;
}

.member_id {
	padding:10px 0px 8px 0px;
	font-size: 15px;
}
.member_name{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}
.member_number{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}
.member_reception{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}
.member_reception > input{
	font-size: 15px;
}
.member_gender{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}
.member_birth{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}
.member_address{
	padding:8px 0px 8px 0px;
	font-size: 15px;
	margin-bottom: 15px;
}
.member_memo{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}

.member_memo > textarea{
	display : flex;
	width : 374px;
	height: 100px;
	resize: none;
}

.member_order{
	padding:8px 0px 8px 0px;
	font-size: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.end {
	width: 100%;
	padding: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.end a {
	color: #212529;
	font-size: 16px;
	/* border: 2px solid black; */
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
}

.end a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}

.popup_btn {
	margin: 0px 12px;
	padding: 8px;
	border-radius: 10px;
	background: #dee2e6;
}