@charset "UTF-8";

.bodt {
	display: flex;
	justify-content: center;
}

.wrap {
	width: auto;
	height:230px;
	display: flex;
	justify-content: center;
	border: 2px solid #ddd;
	align-items: center;
}

.cont {
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.end {
	margin-top: 30px; 
	text-align: center;
	display: flex;
	justify-content: center;
}

.board_btn {
	margin: 0px 12px;
	padding: 10px;
	border-radius: 10px;
	background: #dee2e6;
	display: flex;
	align-items: center;
	width : 70px;
	justify-content: center;
}

.end a {
	color : #212529;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
	border: none;
}

.end a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: white;
	cursor: pointer;
}