@charset "UTF-8";

.wrapper {
	width: 1040px;
	padding: 0px 40px;
	margin: 130px 0px 100px 0px;
}

.orderlist_title {
	height: 85px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.orderlist_search {
	display: flex;
	justify-content: end;
	margin-top: 15px;
	margin-bottom: 4px;
	align-items: center;
	height:30px;
}

.condition {
	height: 34px;
	margin-right: 5px;
	font-size: 15px;
	text-indent: 3px;
}

.search_input>input {
	height: 30px;
	width: 250px;
	margin-right: 10px;
	padding: 0px;
	font-size: 15px;
	text-indent: 5px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 6.5px 6.5px;
	/* 	margin: 0px 10px 10px 0px; */
	float: left;
	border-radius: 10px;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}

.blue {
	background-color: #3498DB;
	border-bottom: 2px solid #2980B9;
	text-shadow: 0px 2px #2980B9;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}

.orderlist_body {
/* 	height: 85px; */
	width: 1040px;
	text-align: center;
}
.orderlist_body_content>* {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.orderlist_body_title {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 4px;
	border-bottom: 4px solid black;
	border-top: 2px solid black;
}

.title_work {
	font-size: 20px;
	width: 100px;
	text-align: center;
}
.title_item {
	font-size: 20px;
	width: 310px;
	text-align: center;
}
.title_address {
	font-size: 20px;
	width: 310px;
	text-align: center;
}
.title_order_date {
	font-size: 20px;
	width: 160px;
	text-align: center;
}
.title_pickup_date {
	font-size: 20px;
	width: 160px;
	text-align: center;
}

.content_work {
	font-size: 20px;
	width: 100px;
	text-align: center;
}
.content_item {
	font-size: 20px;
	width: 310px;
	padding: 0px 14px;
	text-align: center;
}
.content_address {
	font-size: 20px;
	width: 310px;
	padding: 0px 14px;
	text-align: center;
}
.content_order_date {
	font-size: 20px;
	width: 160px;
	text-align: center;
}
.content_pickup_date {
	font-size: 20px;
	width: 160px;
	text-align: center;
}

.orderlist_body_content {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid gray;
/* 	border-top: 2px solid gray; */
	height: 40px;
	align-items: center;
}


.end_btn {
	display: flex;
	justify-content: end;
	margin-top: 7px;
}