@charset "UTF-8";

html {
	max-width: 1920px;
	width: 100%;
}

/*header*/
header {
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100%;
	position: relative;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: white;
}

header h1 {
	line-height: 75px;
	float: left;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.top-menu-wrapper {
	width: 88%;
	margin: 0 auto;
}

.top-list {
	float: right;
}

.top-list li {
	float: left;
}

.top-list a {
	line-height: 68px;
	color: black;
	padding: 0 15px;
	display: block;
	font-size: 13px;
}

.top-list a:hover {
	font-weight: bold;
}

/*body*/
body {
	font-family: 'Noto Sans KR', sans-serif;
	zoom: 1;
	/* position: relative; */
	z-index: 1;
	overflow-x: hidden;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}

/*main menu*/
a {
	text-decoration: none
}

.cbp-hrmenu {
	width: 100%;
	/* margin-top: 100px; */
	border-bottom: 4px solid #a9d3f0;
	text-align: center;
	position: relative;
	z-index: 2;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu>ul, .cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu>ul>li {
	display: inline-block;
}

.cbp-hrmenu>ul>li>a {
	font-weight: 700;
	padding: 1em 2em;
	color: black;
	display: inline-block;
}

.cbp-hrmenu>ul>li>a:hover {
	color: #63afe4;
}

.cbp-hrmenu>ul>li.cbp-hropen>a:hover {
	font-weight: bold;
	color: #63afe4;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	border-top: 4px solid #a9d3f0;
	width: 100%;
	left: 0;
	width: 100%;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	background: white;
	padding-bottom: 35px;
	padding-left: 150px;
	padding-right: 150px;
}

.cbp-hrmenu .cbp-hrsub-inner>div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
	text-align: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after
	{
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner>div a {
	line-height: 2em;
	color: black;
}

.cbp-hrmenu .cbp-hrsub-inner>div a:hover {
	font-weight: bold;
}

.cbp-hrsub h4 {
	color: #63afe4;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: bold;
}
/* --------------------------- */
.main {
	display: flex;
}

.space_left, .space_right {
	width: 240px;
}

.main_text {
	width: 1440px;
	margin-left: 165px;
}

.main_text1 {
	margin-top: 30px;
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
	height: 100px;
	width: 1000px;
}

.main_text2 {
	height: 50px;
	display: flex;
	align-items: center;
	color: red;
	width: 1000px;
}

.type1 {
	display: flex;
	width: 1000px;
	height: 80px;
	font-size: 15px;
	align-items: center;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

#span1 {
	color: red;
}

.type2 {
	display: flex;
	width: 500px;
	justify-content: space-around;
}

.type_title {
	width: 100px;
	text-align: center;
}

.name {
	display: flex;
	justify-content: center;
}

.main_text3 {
	display: flex;
	height: 80px;
	align-items: center;
	border-bottom: 1px solid grey;
	width: 1000px;
}

.type_title1 {
	width: 100px;
	text-align: center;
}

#textbar1 {
	width: 600px;
	height: 50px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
}

#textbar2 {
	width: 600px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	height: 25px;
	display: flex;
	align-items: center;
}

.main_text4 {
	height: 200px;
	width: 1000px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
}

#write_area {
	width: 600px;
	margin-left: 35px;
	background-color: rgb(128, 128, 128, 0.2);
	border-style: none;
	border-radius: 5px;
	resize: none;
	height: 150px;
}

.main_text5 {
	width: 1000px;
	display: flex;
	height: 60px;
	align-items: center;
	border-bottom: 1px solid grey;
}

.end_btn{
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

/*footer*/
footer {
	margin-top: 30px;
	border-top: 1px solid grey;
	height: 200px;
}

.bottom-menu {
	display: flex;
	justify-content: center;
}

.bottom-menu li {
	float: left;
	margin: 20px;
	line-height: 20px;
}

.bottom-menu li a {
	color: grey;
}

.bottom-info-list {
	display: flex;
	justify-content: center;
}

.bottom-info h2 {
	float: right;
	margin-right: 30px;
}

.bottom-info .bottom-info-list span {
	text-align: center;
	margin-right: 30px;
}