@charset "UTF-8";

/* * {
	border: 1px solid red;
} */
html {
	width: 100%;
	max-width: 1920px;
}

.wrapper {
	width: auto;
	margin: 30px 240px;
	margin-left: 200px;
}

.MyQnA_title {
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.MyQnA_search {
	display: flex;
	justify-content: end;
	margin-top: 80px;
	margin-bottom: 4px;
	align-items: center;
	height: 30px;
}

.condition {
	height: 34px;
	margin-right: 5px;
	font-size: 15px;
	text-indent: 3px;
}

.search_input>input {
	height: 30px;
	width: 250px;
	margin-right: 10px;
	padding: 0px;
	font-size: 15px;
	text-indent: 5px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 6.5px 6.5px;
	/* 	margin: 0px 10px 10px 0px; */
	float: left;
	border-radius: 10px;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}

.blue {
	background-color: #3498DB;
	border-bottom: 2px solid #2980B9;
	text-shadow: 0px 2px #2980B9;
	height: 20px;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}

.MyQnA_body {
	height: 85px;
	width: auto;
	text-align: center;
}

.MyQnA_body_title {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 4px;
	border-bottom: 4px solid black;
	border-top: 2px solid black;
}

.title_num {
	font-size: 20px;
	width: 50px;
}

.title_group {
	font-size: 20px;
	width: 100px;
}

.title_subject {
	font-size: 20px;
	width: 470px;
}

.title_date {
	font-size: 20px;
	width: 240px;
}

.title_answer {
	font-size: 20px;
	width: 100px;
}

.MyQnA_body_content {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid gray;
	/* 	border-top: 2px solid gray; */
	height: 40px;
	align-items: center;
}

.content_num {
	font-size: 15px;
	width: 50px;
}

.content_group {
	font-size: 15px;
	width: 100px;
}

.content_subject {
	font-size: 15px;
	width: 470px;
}

.content_date {
	font-size: 15px;
	width: 240px;
}

.content_answer {
	font-size: 15px;
	width: 100px;
}

.end_btn {
	display: flex;
	justify-content: end;
	margin-top: 7px;
	height: 200px;
}

/*header*/
header {
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100%;
	position: relative;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: white;
}

header h1 {
	line-height: 75px;
	float: left;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.top-menu-wrapper {
	width: 80%;
	margin: 0 auto;
}

.top-list {
	float: right;
}

.top-list li {
	float: left;
}

.top-list a {
	line-height: 68px;
	color: black;
	padding: 0 15px;
	display: block;
	font-size: 13px;
}

.top-list a:hover {
	font-weight: bold;
}

/*main menu*/
a {
	text-decoration: none
}

.cbp-hrmenu {
	width: 100%;
	/* margin-top: 100px; */
	border-bottom: 4px solid #a9d3f0;
	text-align: center;
	position: relative;
	z-index: 2;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu>ul, .cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu>ul>li {
	display: inline-block;
}

.cbp-hrmenu>ul>li>a {
	font-weight: 700;
	padding: 1em 2em;
	color: black;
	display: inline-block;
}

.cbp-hrmenu>ul>li>a:hover {
	font-weight: bold;
	color: #63afe4;
}

.cbp-hrmenu>ul>li.cbp-hropen>a:hover {
	font-weight: bold;
	color: #63afe4;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	border-top: 4px solid #a9d3f0;
	width: 100%;
	left: 0;
	width: 100%;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	background: white;
	padding-bottom: 35px;
	padding-left: 150px;
	padding-right: 150px;
}

.cbp-hrmenu .cbp-hrsub-inner>div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
	text-align: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after
	{
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner>div a {
	line-height: 2em;
	color: black;
}

.cbp-hrmenu .cbp-hrsub-inner>div a:hover {
	font-weight: bold;
}

.cbp-hrsub h4 {
	color: #63afe4;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: bold;
}

/*body*/
body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}

::-webkit-scrollbar {
	display: none;
}


/*footer*/
/*footer*/

footer {
   margin-top : 30px;
   border-top : 1px solid grey;
   height : 200px;
}

.bottom-menu{
   display : flex;
   justify-content : center;
}

.bottom-menu li {
   float : left;   
   margin : 20px;
   line-height : 20px;
}

.bottom-menu li a{
   color : grey;
}

.bottom-info-list {
   display : flex;
   justify-content : center;
}

.bottom-info h2 {
   float : right;
   margin-right : 30px;
}

.bottom-info .bottom-info-list span{
   text-align : center;
   margin-right : 30px;
}