@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}
html {
	width: 100%;
	max-width: 1920px;
	scroll-behavior: smooth;
}
body {
	zoom: 1;
	position: relative;
	z-index: 1;
	-ms-overflow-y-style: none;
}
.whole-wrapper{
	display: flex;
	justify-content: center;
	margin-right : 150px;
	margin-left : 240px;
	max-width : 1240px;
	width : 100%;
} 

.main {
	display: flex;
	justify-content: center;
}

/*제목*/
.content-title {
	line-height: 70px;
}

/*소제목*/
.content-subtitle-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid;
	line-height: 70px;
}

.space_left, .space_right {
	width: 200px;
}

.wrapper {
	width: 940px;
	padding: 50px;
	height: 700px;
}

.MyInfo_title {
	text-align: center;
	border-bottom: 3px solid #ddd;
}

.password {
	display: flex;
	justify-content : center;
	align-items: center;
	height : 400px;
}

.password-title {
	height: 34px;
	font-size: 25px;
}

.password-input >input {
	height: 30px;
	width: 210px;
	margin: 0px 10px;
	font-size: 35px;
	text-indent: 5px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #2980B9;
	
}

#confirm{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#confirm:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}