@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.main {
	display: flex;
	justify-content: center;
}

.space_left, .space_right {
	width: 200px;
}

.wrapper {
	width: 1040px;
	padding: 40px;
	height: 700px;
}

.MyInfo_title {
	text-align: center;
	border-bottom: 3px solid #ddd;
}

.password {
	display: flex;
	justify-content : center;
	align-items: center;
	height : 400px;
}

.password-title {
	height: 34px;
	font-size: 25px;
}

.password-input >input {
	height: 30px;
	width: 210px;
	margin: 0px 10px;
	font-size: 35px;
	text-indent: 5px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #2980B9;
	
}

#confirm{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#confirm:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}