@charset "UTF-8";

html {
	font-family: 'Noto Sans KR', sans-serif;
}

.main_box {
	width: 700px;
}

.address1 {
	width: 700px;
	display: flex;
	height: 50px;
	background-color: none;
	text-align: center;
	color: black;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-bottom: 4px solid #63afe4;
}

.address2 {
	height: auto;
	
	
	font-size: 15px;
	
}

#span1 {
	margin-left: 1px;
}

.address3 {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	height: 50px;
	border-bottom:1px solid grey;
	align-items: center;
	margin-top:10px;
}

.aa {
	margin-top:10px;
	width: 100px;
	margin: 5px;
	
	
}
.line{
	border:1px solid grey;
	margin-bottom: 10px;
	height: auto;
}

.button1 {
	width: 700px;
	display: flex;
	justify-content: end;
	margin: 5px;
}

.button3 {
	width: 250px;
	display: flex;
	justify-content: right;
	margin-left: 140px;
	align-items: center;
	margin-top: 18px;
}

/* #button2 {
	background-color: rgb(128, 128, 128, 0.3);
	color: black;
	border-radius: 5px;
	border-style: none;
	width: 100px;
	height: 30px;
	font-weight: bold;
	box-shadow: 1px 4px 0 rgba(255, 255, 255, 0.5);
}

#button2:hover {
	background-color: #63afe4;
}

#button2:active {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	top: 2px;
	transition: 0.8s;
} */

.address4, .first_address, .second_address, .address5 {
	font-size: 15px;
	height: 45px;
	display: flex;
	margin-left: 5px;
	align-items: center;
	font-weight: bold;
}

.button2 {
	display: flex;
	justify-content: end;
}

/* #button3 {
	background-color: rgb(128, 128, 128, 0.3);
	color: black;
	border-radius: 5px;
	border-style: none;
	width: 100px;
	font-weight: bold;
	box-shadow: 1px 4px 0 rgba(255, 255, 255, 0.5);
	margin: 5px;
}

#button3:hover {
	background-color: #63afe4;
}

#button4:hover {
	background-color: #63afe4;
}

#button4 {
	height: 25px;
	background-color: rgb(128, 128, 128, 0.3);
	color: black;
	border-radius: 5px;
	border-style: none;
	width: 100px;
	font-weight: bold;
	box-shadow: 1px 4px 0 rgba(255, 255, 255, 0.5);
	margin: 5px;
} */

/* #button3:active {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	top: 2px;
	transition: 0.8s;
}

#button4:active {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	top: 2px;
	transition: 0.8s;
} */

.address5 {
	display: flex;
	
}

.address_password {
	width: 500px;
}

.add_button {
	height:80px;
	align-items:center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

/* #add_button1 {
	width: 700px;
	height: 50px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(128, 128, 128, 0.3);
	box-shadow: 1px 4px 0 rgba(255, 255, 255, 0.5);
}

#add_button1:active {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	top: 2px;
	transition: 0.8s;
}

#add_button1:hover {
	background-color: #63afe4;
} */
#ad2{
	font-weight: bold;
	background-color: none;
	font-size: 15px;
	border-style: none;
	width: 200px;
	display: inline-block;
	margin-top: 2px;
	
	height: 20px;
}

 #phone, #password {
	background-color: none;
	font-size: 15px;
	border-style: none;
	width: 200px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 4px;
	height: 20px;
}
#ad2:focus, #phone:focus, #address1-1:focus, #address1-2:focus, #password:focus{
	outline: none;
}
#address1-1, #address1-2{
	background-color: none;
	font-size: 15px;
	border-style: none;
	width: 300px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 4px;
	height: 20px;	
}
#button3{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#button3:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#button2{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#button2:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#button4{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#button4:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#add_button1{
	border-top: none;
	border-left:none;
	border-right:none;
	border-bottom: 5px solid #2b92da;
}
#add_button1:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



