@charset "UTF-8";

body {
	overflow-x: hidden;
	
}
html{
	font-family: 'Noto Sans KR', sans-serif;
}

.main{
	display: flex;
}
.main_img {
	width: 960px;
}
.main_img>img {
	width: 100%;
}
.space_left{
	margin-top:58px;
	width: 440px;
}
.space_right{
	width:240px;
}
.main_box{
	margin-top:20px;
	width: 1040px;
}
.main_text{
   width: 960px;
   margin-left: 30px;
}
.main_text1{
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #a9d3f0;
}
.main_content {
	margin-bottom: 20px;
}
.main_reg_date {
	margin: 4px 0px;
	text-align: right;
}