@charset "UTF-8";

body {
	overflow-x: hidden;
	
}
html{
	font-family: 'Noto Sans KR', sans-serif;
}
.main{
	display: flex;
}
.space_left{
	margin-top:60px;
	width: 440px;
}
.main_box{
	margin-top:20px;
	width: 1040px;
}
.space_right{
	width:240px;
}

.icon_flex{
	display: flex;
}

.paging{
	
}

.paging2{
	
}

tbody{
	text-align: center;
}

.b_button{
	display: flex;
	justify-content: space-between;
}

.main_text{
   width: 1240px;
   margin-left: 30px;
}
#file-upload-button{
   width: 200px;
   height: 100px;
}
.main_text1{
   margin-top: 30px;
   display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px solid #a9d3f0;
}
/* .main_text2{
   
   display: flex;
   height: 50px;
   font-size: 20px;
   align-items: flex-end;
   font-weight: bold;
   border-bottom: 3px solid #a9d3f0;
} */
.main_text3{
	width:100%;
   border-bottom: 1px solid rgb(128,128,128,0.5);
}
.main_textNumber{
	border-top: 1px solid black;
   width: 25%;
   /* border: 1px solid black; */
   text-align: center;

}
.main_textContent{
    width: 25%;
   /* border: 1px solid black; */
   text-align: center;
}
.main_textTitle{
    width: 25%;
   /* border: 1px solid black; */
   text-align: center;
}

.main_textDate{
    width: 25%;
   /* border: 1px solid black; */
   text-align: center;
}

