@charset "UTF-8";

.location-wrapper {
	display : flex;
	justify-content : center;
	margin-bottom : 150px;
}

#text {
	background : #fcfcfc;
	padding : 50px;
}

input {
	border:none;
	background : none;
	width : 500px;
}

#store_name {
	font-size:25px;
	font-weight : bold;
	border-bottom : 2px solid;
	height : 50px;
	width : 300px;
	margin-bottom : 40px;
}

.text-input {
	height : 30px;
}