@charset "UTF-8";

#text {
	background : #cdcdcd;
	padding : 50px;
}

input {
	border:none;
	background : none;
	width : 600px;
}

#store_name {
	font-size:25px;
	font-weight : bold;
	border-bottom : 2px solid;
	height : 50px;
	width : 300px;
}